.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-container {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, minmax(180px, 1fr)); /* 5 kolom fleksibel */
  gap: 20px;
  justify-items: center;
}


.Movie-image {
  width: 100%;
  aspect-ratio: 2 / 3; /* rasio poster film */
  object-fit: cover;
  border-radius: 8px;
}



.Movie-wrapper {
  width: 100%;
  background-color: rgb(15, 15, 15);
  color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
}
.Movie-wrapper:hover {
  transform: scale(1.05);
}



.Movie-search{
  height: 50px;
  font-size: 24px;
  margin-bottom: 30px;
  padding: 16px;
  font-weight: bold;
  width: 475px;
}

.Movie-title{
  height: 60px;
  margin-top: 26px;
  font-weight: bold;
}

.Movie-date{
  margin-top: 26px;
  font-style: italic;
}

.Movie-rate{
  color: yellow;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: underline;
}

@media (max-width: 1200px) {
  .Movie-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .Movie-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .Movie-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .Movie-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
